body {
    font-family: "Montserrat", sans-serif;
}

.banner img {
    width: 100%;
    border-radius: 20px;
}

.pilih-liga img {
    max-height: 100px;
}

.pilih-liga .card {
    border-radius: 20px;
}

.best-product .card {
    border-radius: 20px;
}
